{%load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="container">
    <div class="Row">
        <div class="col-md-6 col-md-offset-3"></div>
        <h1>dojo/Post-form</h1>
        <form action="" method="post">
            {% csrf_token%}
            {% bootstrap_form form%}
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
</div>

    <!-- 자바 스크립트로 user_agent 필드값 채워넣기-->
<script>
    $(function(){
    $('.form-group label').addClass('col-sm-2');
    $('.form-group input, .form-group textarea').addClass('form-control'); });

    var dom = document.getElementById('{{form.user_agent.id_for_label}}');

    dom.value = navigator.userAgent;
</script>
