{% extends "blog/layout.html" %}
{% block title%}
    {{post.title}}
{%endblock%}

{%block content %}
 <h1>AskDjango</h1>
    <hr/>
    <h2>{{post.title}}</h2>
    {{post.content | linebreaks}} <!--<p>로 감싸는 방법 -->
    <hr/>
    <h3>Comments</h3>
    {% for comment in post.comment_set.all %}
        <li>
        {{comment.message}}
        <small>by {{comment.author}}</small>
        <small>at {{comment.updated_at}}</small>
        </li>
    {% endfor %}

    <hr/>
    <a href="{% url 'blog:post_list' %}">글 목록</a>
{%endblock%}
